<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheChua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>566123681C9D334C00DD6E2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5661237C1C9D334C00DD6E2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>566123871C9D334C00DD6E2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
